.bdt-btn {
  border: none ;
  font-size: 14px;
  padding: 4px 14px;
  white-space: nowrap;
  background: #2283D0;
  color: #ffffff;
  cursor: pointer;
  outline: none;
}
.bdt-btn.bdt-btn-reverse {
  background: #efefef;
  color: black;
}
.bdt-btn.bdt-btn-today {
  background: none;
  color: #2283D0;
}
.bdt-btn.bdt-btn-today:hover {
  text-decoration: underline;
}
.bdt-select {
  display: table;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.15);
}
.bdt-select > .bdt-select-mini-cell,
.bdt-select > .bdt-select-cell {
  box-sizing: content-box;
  padding: 4px;
  text-align: center;
  font-size: 14px;
  display: table-cell;
  vertical-align: middle;
  cursor: pointer;
  position: relative;
}
.bdt-select > .bdt-select-cell > select {
  padding: 0;
  box-sizing: border-box;
  height: 24px;
  outline: none;
  min-width: 55px;
  cursor: pointer;
  border-color: 1px solid #ddd;
}
.bdt-select > .bdt-select-mini-cell {
  padding-left: 2px;
  padding-right: 2px;
}
.bdt-select .bdt-select-confirm-btn {
  border: none;
  font-size: 13px;
  height: 24px;
  line-height: 24px;
  padding: 0 10px;
  white-space: nowrap;
  margin: 0;
  text-decoration: none;
  display: inline-block;
  background: #2283D0;
  color: #ffffff;
}
.bdt-calendar {
  box-sizing: border-box;
  width: 280px;
  padding: 10px 8px;
  background: #ffffff;
  border-radius: 2px;
  color: #000000;
  border: 1px solid rgba(0, 0, 0, 0.15);
  font-size: 13px;
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.2);
}
.bdt-calendar .bdt-select {
  border: none;
}
.bdt-calendar .bdt-calendar-month-and-year {
  box-sizing: border-box;
  font-size: 12px;
  padding: 10px 0;
  height: 38px;
  line-height: 18px;
}
.bdt-calendar .bdt-calendar-month-and-year select {
  vertical-align: top;
  margin: 0px 5px;
  outline: none;
  box-sizing: border-box;
  height: 20px;
  padding: 0 1px;
  font-size: inherit;
  color: inherit;
}
.bdt-calendar .bdt-calendar-month-and-year-months,
.bdt-calendar .bdt-calendar-month-and-year-years {
  width: 50%;
  display: inline-block;
  padding: 0 3px;
}
.bdt-calendar .bdt-calendar-month-and-year-years select {
  font-size: 14px;
}
.bdt-calendar .bdt-calendar-month-and-year-months {
  text-align: right;
}
.bdt-calendar .bdt-calendar-month-and-year-months select {
  width: 60px;
}
.bdt-calendar .bdt-calendar-month-and-year-button {
  vertical-align: top;
  box-sizing: border-box;
  height: 18px;
  width: 18px;
  padding: 0;
  margin: 0;
  border: none;
  background: #efefef;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  outline: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}
.bdt-calendar .bdt-calendar-month-and-year-button:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  border: 4px solid transparent;
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}
.bdt-calendar .bdt-calendar-month-and-year-button.bdt-calendar-month-and-year-prev-button:after {
  border-right-width: 6px;
  border-right-color: #000;
  margin-left: 1px;
}
.bdt-calendar .bdt-calendar-month-and-year-button.bdt-calendar-month-and-year-next-button:after {
  border-left-width: 6px;
  border-left-color: #000;
  margin-left: 7px;
}
.bdt-calendar .bdt-calendar-weekdays > span {
  box-sizing: border-box;
  display: inline-block;
  letter-spacing: initial;
  text-align: center;
  font-weight: bold;
  margin-bottom: 1px;
  width: 37px;
  line-height: 34px;
}
.bdt-calendar .bdt-calendar-day {
  position: relative;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  transition: -webkit-transform .1s ease;
  transition: transform .1s ease;
  transition: transform .1s ease, -webkit-transform .1s ease;
  width: 37px;
  line-height: 32px;
}
.bdt-calendar .bdt-calendar-day:hover {
  background: #ebebeb;
}
.bdt-calendar .bdt-calendar-day:active {
  background: #95a5a6;
  color: #ffffff;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
.bdt-calendar .bdt-calendar-day.bdt-calendar-day-passive {
  opacity: 0.6;
}
.bdt-calendar .bdt-calendar-day.bdt-calendar-day-invalid {
  opacity: 0.4;
  cursor: not-allowed;
}
.bdt-calendar .bdt-calendar-day.bdt-calendar-day-invalid:hover,
.bdt-calendar .bdt-calendar-day.bdt-calendar-day-invalid:active {
  background: inherit;
  color: inherit;
  -webkit-transform: none;
          transform: none;
}
.bdt-calendar .bdt-calendar-day.bdt-calendar-day-today:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-width: 5px;
  border-style: solid;
  border-color: transparent  orangered  orangered transparent;
  right: 5px;
  bottom: 5px;
}
.bdt-calendar .bdt-calendar-day.bdt-calendar-day-inrange {
  background: #EBF4FD;
  color: #222;
}
.bdt-calendar .bdt-calendar-day.bdt-calendar-day-selected {
  background: #2283D0;
  color: #ffffff;
}
.bdt-range {
  background: white;
  position: relative;
  width: 562px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.2);
}
.bdt-range > .bdt-range-container {
  display: inline-block;
  vertical-align: top;
}
.bdt-range > .bdt-range-container .bdt-calendar {
  box-shadow: none;
  border: none;
}
@media (max-width: 560px) {
  .bdt-range {
    width: 282px;
  }
}
.bdt-predefined-ranges {
  position: absolute;
  top: -1px;
  left: -80px;
  width: 80px;
  box-sizing: border-box;
  background: white;
  padding: 10px 5px 0 10px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-right: none;
  box-shadow: -2px 0px 4px rgba(0, 0, 0, 0.2);
}
.bdt-predefined-ranges > .bdt-predefined-ranges-item {
  display: block;
  font-size: 12px;
  color: #2c3e50;
  padding: 10px 5px;
  border-radius: 2px;
  background: #ecf0f1;
  text-decoration: none;
  margin-bottom: 6px;
}
.bdt-predefined-ranges > .bdt-predefined-ranges-item.active {
  color: #E74C3C;
}
@media (max-width: 640px) {
  .bdt-predefined-ranges {
    position: static;
    width: 100%;
    border: none;
    box-shadow: none;
  }
}
